#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

div {
  margin: 0.25rem auto;
}

section {
  padding: 0.1rem 0.25rem 2rem;
  border-bottom: solid 2px rgb(149, 149, 149);
}
