@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  /* -moz-osx-font-smoothing: grayscale; */
}

/* section {
  padding: 0.1rem 0.25rem 2rem;
  border-bottom: solid 2px rgb(149, 149, 149);
} */

body {
  margin: 0;
  background-color: black;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px; */
}

a.active {
  color: rgb(243, 122, 142);
}

.footer {
  text-align: center; /* Centra el contenido dentro del footer */
  padding: 20px 0; /* Espaciado superior e inferior */

  .parrafo-footer {
      margin-bottom: 10px; /* Asegura espacio entre el párrafo y los íconos de redes sociales */
  }
}